[submodule "django_mdat_customer"]
	path = django_mdat_customer
	url = https://bitbucket.org/code-orange/django-mdat-customer
[submodule "django_servicestack_board"]
	path = django_servicestack_board
	url = git@github.com:jcivitel/django-servicestack-board.git
[submodule "django_template_limitless"]
	path = django_template_limitless
	url = https://bitbucket.org/dolphinitde/django-template-limitless
[submodule "django_servicestack_backend"]
	path = django_servicestack_backend
	url = git@github.com:jcivitel/django-servicestack-backend.git
