asgiref==3.12.1
black==26.5.1
click==8.5.0
colorama==0.4.6
Django==6.1.1
django-dirtyfields==1.9.9
django-parler==2.4
mypy-extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.7
sqlparse==0.6.0
tzdata==2026.3
